{% extends 'base.html.twig' %}

{% block body %}
    <div id="home">
        <h2>Welcome To </h2>
        <h1>Vice Land</h1>

        <a href="/characterChoice">
            <button class="btn">
                Enter
            </button>
            </a>

    </div>
{% endblock %}

