{% extends 'base.html.twig' %}

{% block body %}
    <div id="home">
        <h2>Welcome To </h2>
        <h1>Vice Land</h1>

        <button class="btn">
            <a href="">
                Enter
            </a>
        </button>
    </div>
{% endblock %}

