{% extends 'base.html.twig' %}
{% block body %}



    <div class="container" id="character">
        <h1 class="pt-5 text-center mb-5">Choose your character</h1>
        <div>
            <form method="get" action="{{ path('map') }}" class="row">

                <div id="carouselExampleControls" class="carousel slide col-12 mt-5" data-ride="carousel">
                    <div class="carousel-inner">
                        {% for character in characters %}
                        <div class="carousel-item {% if character.nationality == 'mexicain' %}active{% endif %}">
                            <img class="d-block box-character" src="{{ character.photo }}" alt="First slide">
                            <div class="box-question">
                                <input type="radio" class="check" id="characterCheck" name="nationality" value="{{ character.nationality }}">
                                <label for="characterCheck">{{ character.nationality }}</label>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>

                <input type="submit" value="Choisir" class="btn ">
            </form>

        </div>
    </div>
{% endblock %}

