@font-face {
    font-family: South Park;
    src: url('south park.ttf');
}

/* -------- HOMEPAGE -------- */
#home {
    background-image: url("images/SP_background.png");
    height : 100vh;
    background-position: center;
    background-size: cover;
    overflow: hidden;
    font-family: South Park, sans-serif;
    color: brown;
    text-align: center;
}

#home h1 {
    font-size: 7rem;
}

#home h2 {
    padding-top: 30vh;
}

#home a {
    color : black;
}

/*********CHARACTER-CHOISE*********/
.perso{

    background-color: #222222;
    color: white;

}

p {
    display: flex;
    justify-content: center;
    align-items: center;
}

.vicelardName{
    display: flex;
    justify-content: center;
    align-items: center;
}

img {
    height: 700PX;
    width: 300px;
    padding-bottom: 150px;
}

.vicelardOne{
    margin-top: 0px;
}

.carousel-item .vicelardBtn {
    margin-left: 48vw;
}

/**********MAP***********/

.tile {
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    mix-blend-mode: multiply;
    position: relative;
}

.tile:hover{
    box-shadow: 0px 0px 1px black;
}

.map{
    border: 1px red solid;
    background-image: url("images/map.jpg");
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
    padding: 1em;
    margin-top: 1em;
    min-height: 100vh;
}

.hcad{
    min-height: 5vh;
}