@font-face {
    font-family: South Park;
    src: url('south park.ttf');
}

/* -------- HOMEPAGE -------- */
#home {
    background-image: url("images/SP_background.png");
    height : 100vh;
    background-position: center;
    background-size: cover;
    overflow: hidden;
    font-family: South Park, sans-serif;
    color: brown;
    text-align: center;
}

#home h1 {
    font-size: 7rem;
}

#home h2 {
    padding-top: 30vh;
}

#home a {
    color : black;
}

/********** GAUTHIER MAP ****************/


.tile:hover{
    box-shadow: 0px 0px 1px black;
}

#map{
    background-image: url("images/map2.png");
    height : 100vh;
    background-position: center;
    background-size: cover;
    overflow: hidden;
}

.row-height{
    height: 5vh;
}