@font-face {
    font-family: "South Park";
    src: url('south park.ttf');
}
@font-face {
    font-family: "Cibola";
    src: url("cibola.ttf");
}

/* -------- HOMEPAGE -------- */
#home {
    background-image: url("images/SP_background.png");
    height : 100vh;
    background-position: center;
    background-size: cover;
    overflow: hidden;
    font-family: "South Park", sans-serif;
    color: brown;
    text-align: center;
}

#home h1 {
    font-size: 7rem;
}

#home h2 {
    padding-top: 30vh;
}

#home a {
    color : black;
}

/*********CHARACTER-CHOISE*********/
.character {
    padding: 0;
    height: 85%;
    width: inherit;
}

.box-character {
    width: 300px;
    margin-left: 38%;
}

#character h1 {
    font-family: "South Park", sans-serif;
}

#character {
    background-image : url("images/background.png");
    background-position: center;
    background-size: cover;
}

#character label {
    font-family: "Cibola", sans-serif;
}

.box-question {
    color: #FFFFFF;
    width: 40%;
    margin-left: 32%;
    text-align: center;
    padding: 1%;
    font-size: 2em;
}

.form-check {
    margin-right: 33%;
}

#character .btn {
    margin-left: 47%;
}

.check {
    margin-left: -8%;
}

/**********MAP***********/

.tile {
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    mix-blend-mode: multiply;
    position: relative;
}

.tile:hover{
    box-shadow: 0px 0px 1px black;
}

.map{
    border: 1px red solid;
    background-image: url("images/map.jpg");
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
    padding: 1em;
    margin-top: 1em;
    min-height: 100vh;
}

.hcad{
    min-height: 5vh;
}
