{% extends 'base.html.twig' %}

{% block body %}
    <div id="map">
        <div class="container-fluid">
        {% for i in 0..19 %}
            <div class="row no-gutters row-height">

                <div class="col-6 row">
                    {% for i in 0..11 %}
                    <div class="col-1 tile"></div>
                    {% endfor %}
                </div>
                <div class="col-6 row">
                    {% for i in 0..11 %}
                        <div class="col-1 tile"></div>
                    {% endfor %}
                </div>
            </div>
        {% endfor %}
        </div>
    </div>


{% endblock body %}