{% extends 'base.html.twig' %}

{% block body %}

    <div class="container-fluid map pt-0">
        {% for i in 0..19 %}
        <div class="row hcad">

            <div class="col-6 row">
                {% for i in 0..11 %}
                <div class="col-1 tile"></div>
                {% endfor %}
            </div>
            <div class="col-6 row">
                {% for i in 0..11 %}
                    <div class="col-1 tile"></div>
                {% endfor %}
            </div>
        </div>
        {% endfor %}

    </div>


{% endblock body %}