{% extends 'base.html.twig' %}

{% block body %}

    <div class="container-fluid ">

        <div class="row hcad">
            {#<div class="col-3">
                <form>
                    <h3>Taille :</h3>
                    <input type="radio" id="taille1" name="taille"><label for="taille1"> < 1.20m</label><br/>
                    <input type="radio" id="taille2" name="taille"><label for="taille2"> 1.20m > X < 1.60m</label><br/>
                    <input type="radio" id="taille3" name="taille"><label for="taille3"> > 1.60m</label><br/>

                    <hr>

                    <h3>Age :</h3>
                    <input type="range" min="4" max="100" value="50" class="slider" id="myRange">
                    <span id="valueRange"></span>

                    <hr>

                    <h3>Temps d'attente :</h3>
                    <input type="checkbox" name="time" id="timeCheck" value="10"><label for="timeCheck">Moins de 10mn</label><br/>
                    <input type="checkbox" name="time" id="timeCheck2" value="10-8"><label for="timeCheck2">Entre 10mn et 8h</label><br/>
                    <input type="checkbox" name="time" id="timeCheck3" value="8"><label for="timeCheck3">Plus de 8h</label><br/>
                    <hr>

                    <h3>Sensations :</h3>
                    <div class="rating" style="height: 7vh; display: inline-block;">
                        <a href="?sensations=5" title="Donner 5 étoiles">☆</a>
                        <a href="?sensations=4" title="Donner 4 étoiles">☆</a>
                        <a href="?sensations=3" title="Donner 3 étoiles">☆</a>
                        <a href="?sensations=2" title="Donner 2 étoiles">☆</a>
                        <a href="?sensations=1" title="Donner 1 étoile">☆</a>
                    </div>

                    <hr>

                    <h3>Type :</h3>
                    <input type="checkbox" name="type" id="typeCheck" value="restaurant"><label for="typeCheck">Restaurant</label><br/>
                    <input type="checkbox" name="type" id="typeCheck2" value="boutique"><label for="typeCheck2">Boutique</label><br/>
                    <input type="checkbox" name="type" id="typeCheck3" value="attraction"><label for="typeCheck3">Attraction</label><br/>

                    <hr>

                    <input type="submit" value="Filtrer">
                </form>
            </div>#}

            <div class="map col-12">
                {% for i in 0..11 %}
                <div class="row">
                    <div class="col-1 tile">1</div>
                    <div class="col-1 tile">2</div>
                    <div class="col-1 tile">3</div>
                    <div class="col-1 tile">4</div>
                    <div class="col-1 tile">5</div>
                    <div class="col-1 tile">6</div>
                    <div class="col-1 tile">7</div>
                    <div class="col-1 tile">8</div>
                    <div class="col-1 tile">9</div>
                    <div class="col-1 tile">10</div>
                    <div class="col-1 tile">11</div>
                    <div class="col-1 tile">12</div>
                </div>
                <div class="row">
                    <div class="col-1 tile">1</div>
                    <div class="col-1 tile">2</div>
                    <div class="col-1 tile">3</div>
                    <div class="col-1 tile">4</div>
                    <div class="col-1 tile">5</div>
                    <div class="col-1 tile">6</div>
                    <div class="col-1 tile">7</div>
                    <div class="col-1 tile">8</div>
                    <div class="col-1 tile">9</div>
                    <div class="col-1 tile">10</div>
                    <div class="col-1 tile">11</div>
                    <div class="col-1 tile">12</div>
                </div>
                {% endfor %}
            </div>

        </div>


    </div>


{% endblock body %}